.form_title{
    margin: 0 0 24px 0;
    text-align: center;
}

.login_component{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.form
{
    width: 100%;
    position: relative;
    margin: 0;
}