@import url(./../../App.css);

.button
{
    /* line-height: 1.5; */
    border-radius: var(--border-radius-small);
    border: none;
    height: 48px;
    width:100%;
    font-size:var(--font-size-small);
    font-family: inherit;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.primarybtn
{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.secondarybtn
{
    background-color: var(--white-color);
    color: var(--text-color);
    /* border: 1px solid var(--border-color); */
}