@import url(./../../App.css);

.button
{
    background-color: var(--primary-color);
    line-height: 1.5;
    text-align: center;
    color: var(--white-color);
    padding: 15px 116px;
    margin: 12px 30px;
    border-radius: var(--border-radius-small);
}