@import url(./../../App.css);
.bottommodal
{
    width:100%;
    height: 100%;
    background-color: var(--white-color);
    transition: all 0.2s ease-in-out;
    transform: translateY(calc(100vh - 550px));
    position: absolute;
    overflow-y: auto;
    z-index: 1;
}
.display-block {
    display: block;
    pointer-events: visible;
  }
  
  .display-none {
    display: none;
  }
.dealmodalnav{
    display: flex;
    justify-content: space-between;
}
.deal-info-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.dealname
{
    margin: 0 0 0 20px;
    color: var(--heading-color);
}

.dealinforow{
    margin:0 auto 16px ;
    padding: 10px 0 10px 20px ;
    width: 80%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
}
.dealinfo{
    /* width: 60%; */
    font-size: var(--font-size-regular);
    color: var(--text-color);
    margin: 0 0 15px 0;
}

.dealinforow:first-child
{
    margin:16px auto 16px ;
}
.dealinforow:last-child
{
    margin:0 auto 16px ;
}
.dealvalue
{
    color: var(--heading-color);
    font-weight: var(--font-weight-semi);
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
}
.inlineinput
{
    width: 70%;
    height: 23px;
}

.modal_form_element{
    margin: 30px;
}

.radio-element{
    border: 2px solid var(--border-color);
    padding: 20px;
    margin: 0 0 15px;
    border-radius: var(--border-radius-small);
    color: var(--text-color);
}

.thiruvanistatus {
    width: fit-content;
    border-radius: 50px;
    font-weight: var(--font-weight-medium);
    font-size: 13.33px;
}

.inprogress{
    padding: 6px 12px;
    background-color: var(--status-in-progress-b);
    color: var(--status-in-progress);
}
.notyet{
    padding: 6px 12px;
    background-color: var(--status-not-yet-b);
    color: var(--status-not-yet);
}
.completed{
    padding: 6px 12px;
    background-color: var(--status-in-Completed-b);
    color: var(--status-in-Completed);
}

/* .inlineinputholder{
    height: 40px;
} */
.buttongroup{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

