@import url(./../../App.css);

.deal-container{
    position: relative;
}
.deal-info-container{
    height:calc(100vh - 138px);
    width: 100%;
    overflow-y: auto;
}
.dealname
{
    margin: 0 0 0 20px;
    color: var(--heading-color);
}

.dealinforow{
    margin:0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dealinfo{
    /* width: 60%; */
    font-size: var(--font-size-regular);
    color: var(--text-color);
}

.dealinforow:first-child
{
    margin: 50px 0 40px 0;
}
.dealinforow:last-child
{
    margin:  0 0 40px 0;
}
.dealvalue
{
 
    color: var(--heading-color);
    font-weight: var(--font-weight-semi);
    font-size: var(--font-size-regular);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.inlineinput
{
    width: 35%;
    padding: 10px;
}

.modal_form_element{
    margin: 30px;
}

.button-sticky-button{
    width: 100%;
}
.radio-element{
    border: 2px solid var(--border-color);
    padding: 20px;
    margin: 0 0 15px;
    border-radius: var(--border-radius-small);
    color: var(--text-color);
}

.thiruvanistatus {
    width: fit-content;
    border-radius: 50px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
}

.inprogress{
    padding: 6px 12px;
    background-color: var(--status-in-progress-b);
    color: var(--status-in-progress);
}
.notyet{
    padding: 6px 12px;
    background-color: var(--status-not-yet-b);
    color: var(--status-not-yet);
}
.completed{
    padding: 6px 12px;
    background-color: var(--status-in-Completed-b);
    color: var(--status-in-Completed);
}

.inlineinputholder{
    height: 40px;
}