@import url(./../../App.css);

.add_btn{
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    padding: 8px 15px;
    color: white;
    width: fit-content;
    height: 30px;
}
