@import url(./../../App.css);

.deal{
    width: 100%;
}
.dealcomponent{
    border: 1px solid var(--border-color);
    padding: 20px;
    cursor: pointer;
    width: 100%;
    background-color: var(--white-color);
}

.dealcomponent:last-child{
    margin:  0 0 60px 0;
}

/* .information-container{
    width: 95%;
} */

.deal-header h3{
    margin: 0;
}

.inforow{
    margin: 0 0 15px 0;
}
.inforow:first-child
{
    margin: 18px 0 15px 0;
}
.inforow:last-child
{
    margin:  0;
}

.inforow{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.value{
    color: var(--heading-color);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-regular);
}
