@import url(./../../App.css);

.add-item
{
    height: 40px;
    background-color: var(--hover-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-item span{
    margin:  0 0 0 10px;
    font-weight: var(--font-weight-medium);
}