@import url(./../../App.css);

.home-container
{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.clients-container
{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.button-sticky-button
{
    /* padding: 0 15px; */
    position: sticky;
    bottom: 0;
    background-color: var(--white-color);
    border-top:1px solid var(--border-color);
}