@import url(./../../App.css);

.container
{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.clients-container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


.client_home_title{
    padding: 10px 15px 0;
}

.gap{
    height: 75px;
    z-index: 11;
}

.bottom_nav{
    height: 45px;
    z-index: 11;
}