@import url(./../../App.css);

.modal-header{
  margin: 20px 0 32px 0;
}

.modal-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.deliverytouch-toggle, .deal-toggle{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
label.elements{
  display: flex;
  align-items: center;
  margin: 0 0 13px 0;
}
span.small-text
{
  margin: 0 0 0 8px;
}

.form_element
{
  margin: 24px 0 0 0;
}

#formfirstchild{
  margin: 0 0 24px 0;
}

.addthiruvanitoggle{
  margin: 24px 0 0 0 ;
}

.deliverytouchcheck, .dealcheck {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}

.submit_button{
  margin: 0 0 20px 0;
}

small{
  font-size: var(--font-size-regular);
}
.radiolabel{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin:  0 0 15px 0;
}
.elements input{
  height: 15px;
  width: 15px;
}

.weightinput{
  width: 80%;
}

.dynamic-input{
  margin: 8px 0 0 0;
}
.remove-input{
  padding: 10px;
  cursor: pointer;
}