@import url(./../../App.css);

.modal-header{
  margin: 20px 0 32px 0;
}

.modal-header, .deliverytouch-toggle , .deal-toggle{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
label.elements{
  display: flex;
  align-items: center;
}
span.small-text
{
  margin: 0 0 0 8px;
}

.form_element
{
  margin: 24px 0 0 0;
}

#formfirstchild{
  margin: 0 0 24px 0;
}

.addthiruvanitoggle{
  margin: 24px 0 0 0 ;
}

.switch {
  position: relative;
  width: 48px;
  height: 24px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  margin: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 2px;
  left: 3px;
  bottom: 3px;
  background-color: var(--border-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--white-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
  background-color: var(--primary-color);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.submit_button{
  margin: 0 0 20px 0;
}

small{
  font-size: var(--font-size-regular);
}
.radiolabel{
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  margin:  0 0 15px 0;
}
.elements input{
  height: 15px;
  width: 15px;
}