@import url('./../../App.css');

.navigation-container{
    width:100%;
    max-width: 800px;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
}


.logo{
    font-weight: bold;
    font-size: var(--font-size-medium);
    margin: 0;
}

.navigation-item{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.nav_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    height: 35px;
    cursor: pointer;
    margin: 0 5px 0 0;
    border: 2px solid white;
}

.nav_item:hover{
    background-color: var(--hover-color);
}

.nav_item_title{
    font-size: var(--font-weight-small);
    font-weight: var(--font-weight-medium);
    color:var(--text-color);
    user-select: none;
}
