@import url(./../../App.css);

.icon-tabler-arrow-narrow-left
{
    color: var(--text-color);
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid var(--white-color);
    position: absolute;
}
.clientname
{
    margin: auto;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-semi);
    color: var(--heading-color);
}
.Clienthome-container
{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.deal-container{
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}