@import url(./../../App.css);

.menubtn{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-small);
    /* border: 1px solid var(--border-color); */
    cursor: pointer;
}
.menubtn:hover{
    background-color:var(--hover-color) ;
}