@import url(./../../App.css);

.client
{
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 18px 16px;
    margin: 25px 0 0 0 ;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.numberofdeal{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

.clientname{
    font-weight: var(--font-weight-medium);
    margin: 0 0 10px 0;
}
