@import url(./../../App.css);

.client
{
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 18px 16px;
    margin: 25px 0 0 0 ;
    border-radius: var(--border-radius-small);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.client:last-child
{
    margin: 25px 0 80px 0;
}

.numberofdeal{
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
}

.clientname{
    font-weight: var(--font-weight-medium);
    margin: 0 0 10px 0;
}

.numberofdeal .dealcount{
    font-weight: var(--font-weight-bold);
}

.menubtn{
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-small);
    /* border: 1px solid var(--border-color); */
    cursor: pointer;
}
.menubtn:hover{
    background-color:var(--hover-color) ;
}