@import url(./../../App.css);

.no-data-available-container
{
    background-color: var(--secondary-color);
    height: calc(100vh - 140px);
    /* height: 150vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
h1{
    font-weight: var(--font-weight-medium);
}