@import url(./../../App.css);
h2{
    font-weight: var(--font-weight-bold);
    display: inline;
    margin: 0;
}
.wrapper
{
    padding: 0 15px;
}
.close-btn
{
    width:35px;
    height:35px;
    border: 2px solid var(--border-color);
    padding:10px;
    color: var(--text-color);
    border-radius: 50px;
    cursor: pointer;
}
.modal-header{
    margin: 40px 0  30px;
}
.heading-2{
    margin: 0 0 25px 0;
    font-size: var(--font-size-semi-larger);
}
