:root{
    --font-family:'Inter', sans-serif;
    --primary-color:#3d84b8;
    --secondary-color:#E4FBFF;
    --heading-color:#18354A;
    --text-color:#333333;
    --border-color:#b8c4cc;
    --white-color:#ffffff;

    --border-radius-small:5px;
  
    --status-in-progress:#0000FF;
    --status-in-progress-b:#E1E1FD;
  
    --status-not-yet:#808080;
    --status-not-yet-b:#ECECEC;
  
    --status-in-Completed:#008000;
    --status-in-Completed-b:#DBFFDB;
  
    --font-size-larger:2.063rem;
    --font-size-semi-larger:1.438rem;
    --font-size-medium:1.188rem;
    --font-size-regular:1rem;
  
    --font-weight-bold:700;
    --font-weight-semi:600;
    --font-weight-medium:500;
    --font-weight-regular:400;
  
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body {
  font-family: var(--font-family);
}
img{
  width: 100%;
  height: 100%;
}
h1{
  font-size: var(--font-size-semi-larger);
}
h2,h3{
  font-size: var(--font-size-medium);
}
h1,h2,h3,h4,h5{
  color: var(--heading-color);
}
.wrapper
{
    padding: 0 15px;
}
nav{
  top: 0;
  display: flex;
  align-items: center;
  padding: 10px 0;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15); */
  position: sticky;
  width: 100%;
  z-index: 1;
  background-color: var(--white-color);
  border-bottom:1px solid var(--border-color);
}

.no-data-available 
{
    margin: auto;
}

a
{
  text-decoration: none;
}

p{
  font-size: var(--font-size-regular);
  color: var(--text-color);
}