:root{
    --font-family:'Inter', sans-serif;

    --primary-color:#3d84b8;
    --heading-color:#18354A;
    --text-color:#333333;
    --border-color:#b8c4cc;
    --white-color:#ffffff;

    --hover-color:#F1F3F5;
    --border-color:#B8C4CC;
    --modal-color:#858585;
      
    --status-in-progress:#0000FF;
    --status-in-progress-b:#E1E1FD;
  
    --status-not-yet:#808080;
    --status-not-yet-b:#ECECEC;
  
    --status-in-Completed:#008000;
    --status-in-Completed-b:#DBFFDB;
  
    --font-size-larger:1.563rem; 
    --font-size-semi-larger:1.375rem;
    --font-size-semi:1.25rem; 
    --font-size-medium:1.125rem; 
    --font-size-regular:1rem;
    --font-size-small:0.875rem;
    --font-size-smallest:0.75rem;
  
    --font-weight-bold:700;
    --font-weight-semi:600;
    --font-weight-medium:500;
    --font-weight-regular:400;

    --border-radius-small:5px;
  
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
  height: 100%;
  width: 100%;
}
body {
  font-family: var(--font-family);
}
img{
  width: 100%;
  height: 100%;
}
h1{
  font-size:var(--font-size-larger);
}

h2{
  font-size: var(--font-size-semi-larger);
}

h3{
  font-size: var(--font-size-semi);
}

h4{
  font-size: var(--font-size-medium);
}
h1,h2,h3,h4,h5{
  color: var(--heading-color);
}
.wrapper
{
    padding: 0 15px;
}

.no-data-available 
{
    margin: auto;
}

a
{
  text-decoration: none;
}

p{
  font-size: var(--font-size-regular);
  color: var(--text-color);
  line-height: 1.5;
}


form
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 24px;
}

label,legend
{
  font-size: var(--font-size-smallest);
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  margin:  0 0 8px 0;
}

input
{
  height: 40px;
  padding: 0 0 0 16px;
  border: 1px solid var(--border-color);
  font-size: var(--font-size-small);
  color: var(--text-color);
}
button
{
  margin: 32px 0 0 0;
}

.nodefault{
  background: none;
  border: none;
  margin: 0;
}

#root, article, div, footer, header, main, nav, section {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid var(--border-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.height-full{
  height: 100vh;
}
.margin-center{
  margin: auto 0;
}

.flex{
  display: flex;
}

.alignitems-center{
  align-items: center;
}

.justifycontent-spacebetween{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-nowrap{
  flex-wrap: nowrap;
}

fieldset{
  margin: 15px 0 0 0;
}
legend{
  font-size: var(--font-size-small);
  margin: 0;
}